[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cairosvg = "~=2.7.1"
mkdocs-material = "~=9.5.17"
pillow = "~=10.3.0"

[requires]
python_version = "3.9"